{{define "top"}}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://ogp.me/ns/fb#" >
<head profile="http://www.w3.org/2005/10/profile">
<meta charset="utf-8" />
<meta name="description" content="mrkvon homepage" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{.Title}} :: blog :: mrkvon</title>

<meta property="og:type" content="website" />
<meta property="og:image" content="/" />
<meta property="og:title" content="mrkvon blog" />
<meta property="og:description" content="blog: freedom, sharing, coding, music" />

<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
<div id="wrapper">
  {{template "menu" .}}
<div id="page">
  <main>

